@use "defaults" as *;

#capa-ebook{
    min-height: calc(100vh - 4em);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cor-destaque-escuro;
    padding-block: 4em 8em;
    position: relative;

    @media screen and (max-width: $smartphone) {
        min-height: calc(100svh - 2em);
        padding-block: 2em 5em;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .titulo {
        width: 30vw;
    }

    .subtitulo-ebook{
            margin-top: 1rem;
            display: block;
            font-size: 1.8em;
            font-weight: 300;
            color: $quasebranco;
            text-align: center;


        @media screen and (max-width: $tablet) {
            font-size: 3.5em;
        }
        @media screen and (max-width: $smartphone) {
            font-size: 2.5em;
        }
    }

    .autoria-capa{
        text-align: center;
        margin-top: 20px;
        color: $cor-destaque-claro;
        margin-bottom: 3rem;


        dt{ color: $amarelo-clarim;
            font-weight: 700;
            font-size: 1em;
        }
        
        dd{ color: $amarelo-clarim;
            font-weight: 400;
            font-size: 1.15em;
            ul{
                padding-left: 0;
                list-style: none;
            }
        }

        @media screen and (max-width: $smartphone) {
            font-size: 1em;
        }

    }

    .botoes-capa{
        display: flex;
        justify-content: center;
        gap: 2rem;
        @media screen and (max-width: $smartphone) {
            flex-direction: column;
            align-items: center;
            gap: 1rem;

        }

        .sobre {
            background-color: $rosa-vermelho;
            color: $quasebranco;
            &:hover{
                background-color: $turquesa-claro;
            }
        }
        .sumarioo { 
            background-color: $laranja;
            color: $quasebranco;
            &:hover{
                background-color: $turquesa-claro;
            }

        }
        a{
        }
    }

    .selo-editora{
        position: absolute;
        inset: auto 0 2em;
        text-align: center;
        img{
            display: inline-block;
            height: 1.5em;
        }
    }
}


#main-pretextuais{
    //padding-block: 6em;

    .texto-copyright{
        text-align: center;
        margin-bottom: 2em;
        @media screen and (max-width: $smartphone) {
            margin-bottom: 4em;
        }

    }

    .copyright-cc{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: 4em;

        p {margin-bottom: 15px;}

        img {
            height: 5em;
        }

         @media screen and (max-width: $smartphone) {
            flex-direction: column;
        }

    }

    .ficha-tecnica{
        columns: 2;
        //column-gap: 2em;
        text-align: center;
        margin: 140px 0px;
        ///@media screen and (max-width: $smartphone) {
       ///     columns: 1;
       // }

        h2{
            font-weight: 500;
            color: $cor-destaque;
            break-after: avoid-column;
            margin-bottom: 1rem;
        }
        dl{
            break-inside: avoid;
            & + h2{
                margin-top: 1.8em;
            }

            dt{
                font-weight: 600;
                color: $cor-destaque-escuro;
            }

            dd{
                & + dt{
                    margin-top: 1.2em;
                }
                ul{
                    padding-left: 0;
                    list-style: none;
                }
            }
        }
    }

    hr{
        margin-block: 3em;
        border-width: 0;
        border-color: transparent;
        border-style: solid;
        height: .25em;
        background-color: $cor-destaque-escuro;
    }

    .ficha-catalog{
        margin-inline: auto;
        width: 600px;
        max-width: 100%;
        margin-bottom: 4em;
    }

    .botoes-fim-capa{
        display: flex;
        justify-content: center;
        gap: 2rem;
        @media screen and (max-width: $smartphone) {
            flex-direction: column;
            align-items: center;
            gap: 1rem;

        }
    }

    .autores {
        background-color: $laranja;
        padding-block: 4em;
        margin-top:4em;

        
        .container {
        display: flex;
        flex-direction: column;
        gap: 4rem

        }

        h1 {margin-bottom: 2em;
        text-align: center;}

        .autor {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            margin-bottom: 2em;

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
            }

            h2 { //text-align: center;
                font-weight: 500;
                color: $quasebranco;
                margin-bottom: 0.5em;
            }

            p {
                color: $quasebranco;
            }
        }
    }

    .descricao-tecnica {background-color: $amarelo-clarim;
        padding-block: 4em;

        h1{
            text-align: center;
            margin-bottom: 2em;
        }

        p{
            margin-inline: auto;
        }

         a {
            color: $turquesa-claro;
         }

    }
}

#rodape-capa{
    background-color: $cor-destaque-escuro;
    color: $cor-destaque-claro;
    text-align: center;
    padding-block: 2em;
    .container{
        p + p{
            margin-top: 1em;
        }
    }
}