//Cores do projeto
$azul-apagado: #5f36ee;

// --- Suas Cores Base (Paleta) ---
$laranja:           #f0690d;
$amarelo-clarim:    #f6d152;
$turquesa-claro:    #0f95e1;
$azul-ceu:          #074d9e;
$rosa-vermelho:     #cf0046;
$purple-vibe:       #5f36ee; // Era o azul-apagado
$cinzento:          rgb(245, 245, 245);
$quasebranco:       #fffef0;
$preto-roxeado:     #3c3c3b;

// --- Nova Atribuição Funcional (O Segredo do Conforto) ---
$cor-fundo-padrao:    $quasebranco; 
$cor-texto-padrao:    $preto-roxeado;

// Elementos de Destaque e Leitura
$cor-titulos:         $azul-ceu;      // Azul escuro dá peso e seriedade para títulos longos
$cor-links:           $azul-ceu;      // Mantém consistência e passa segurança no clique
$cor-destaque:        $laranja;       // Use pontualmente (uma tag, um box importante)

// Fundos Alternativos (Boxes de texto, páginas de capítulo)
$cor-fundo-neutro:    $cinzento;       // Troque o turquesa pelo cinza claro para ler sem cansar
$cor-fundo-vibrante:  $turquesa-claro; // Guarde o turquesa apenas para páginas inteiras de transição de capítulo (com texto em branco/quasebranco)


$cor-destaque-escuro: $azul-ceu;
$cor-destaque: $laranja;
$cor-destaque-claro: $quasebranco;
$cor-links: $azul-ceu;

$container: 1020px;
$tablet: 840px;
$smartphone: 600px;
$small: 450px;

$fonte: "Archivo", sans-serif;
$fonte-titulo: "Archivo Narrow", sans-serif;

:root{
    interpolate-size: allow-keywords;
    
    --inline-size-container: #{$container};
    @media screen and (max-width: $container) {
        --inline-size-container: #{$tablet};
    }
    @media screen and (max-width: $tablet) {
        --inline-size-container: #{$smartphone};
    }
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 18px;
    line-height: 1.5;
    font-family: $fonte;
    background-color: $cor-fundo-padrao;
    color: $cor-texto-padrao;
    scroll-behavior: smooth;

    @media screen and (max-width: 1000px) {
        font-size: 17px;
    }
    @media screen and (max-width: 600px) {
        font-size: 16px;
    }
}

.container{
    width: var(--inline-size-container);
    margin-inline: auto;
    max-width: 100%;
    @media screen and (max-width: $smartphone) {
        padding-inline: 1rem;

    }

}

button, .button{
    display: inline-block;
    line-height: 1.1;
    background-color: $cor-destaque-escuro;
    color: $cor-destaque-claro;
    padding: 1em 1.5em;
    border-radius: .25em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s linear;
    transition-property: background-color, color;
    font-weight: 500;
    &:hover{
        color: $cor-destaque;
    }
}


h1,h2{
    text-wrap: pretty;
    font-family: $fonte-titulo;
    color: $cor-titulos;
}

h3,h4{
    text-wrap: pretty;
    font-family: $fonte-titulo;
    color: $rosa-vermelho;
}




