
@font-face{
    font-family: "Archivo";
    src: url("../fonts/archivo/Archivo-VariableFont_wdth\,wght.woff2") format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
}

@font-face{
    font-family: "Archivo";
    src: url("../fonts/archivo/Archivo-Italic-VariableFont_wdth\,wght.woff2") format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
}


@font-face{
    font-family: "Archivo Narrow";
    src: url("../fonts/archivo_narrow/ArchivoNarrow-VariableFont_wght.woff2") format('woff2-variations');
    font-weight: 400 700;
    font-style: normal;
}

@font-face{
    font-family: "Archivo Narrow";
    src: url("../fonts/archivo_narrow/ArchivoNarrow-Italic-VariableFont_wght.woff2") format('woff2-variations');
    font-weight: 400 700;
    font-style: italic;
}

@font-face{
    font-family: "Noto Serif";
    src: url("../fonts/noto_serif/NotoSerif-VariableFont_wdth,wght.woff2") format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
}

@font-face{
    font-family: "Noto Serif";
    src: url("../fonts/noto_serif/NotoSerif-Italic-VariableFont_wdth,wght.woff2") format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
}

@font-face{
    font-family: "Fraunces";
    src: url("../fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.woff2") format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
}

@font-face{
    font-family: "Fraunces";
    src: url("../fonts/fraunces/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.woff2") format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
}
